.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.countdown-box {
    background: #9adffbab;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(97, 97, 202, 0.303);
    width: 15%;
}

.countdown-value {
    font-size: 3rem;
    font-weight: bold;

    @media (max-width: 768px) {
        font-size: 1.2rem;
    }
}

.countdown-label {
    font-size: 1.2rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}

.access-btn{
    cursor: pointer;
    width: 125px;
    height: 35px;
    background: #d02e2ed9;
    color: white;
    border: none;
    border-radius: 13px;
    margin-top: 20px;
    font-weight: 500;

    &:hover{
        background-color: rgb(149, 83, 83);
    }
}